.git

# English version
/shinyapp-en/.Rproj.user
/shinyapp-en/.RData
/shinyapp-en/.Rhistory
/shinyapp-en/.DS_Store
/shinyapp-en/www/data/processed/df_time.csv
/shinyapp-en/www/data/processed/tbia_habitat.csv

# Chinese version
.Rproj.user
/shinyapp-zh/.Rproj.user
/shinyapp-zh/.RData
/shinyapp-zh/.Rhistory
/shinyapp-zh/.DS_Store
/shinyapp-zh/www/data/processed/tbia_habitat.csv

